<footer class="footer " style="padding-top: 0px; padding-bottom: 0px;">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="assets/multimedia/CIT_BASE.pdf" target="_blank">
            Manual de Usuario
          </a>
        </li>
        <li>
          <a href="#">
            Version <span >1.0</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{test.getFullYear()}}, por
      <a href="" >Centro de Informática y Telecomunicaciones </a> -CIT-.
    </div>
  </div>
</footer>
