<div class="main-content">
    <div class="container-fluid">
      <span>
          <div class="example-container">
              
          <!--  <div class="box box-primary"  style='background-image:url(./assets/img/bg_home.jpg);  background-size: 100% 100%; background-color: #215074; '>-->
            <div style="border: 2px solid #215074; padding-left: 10px; padding-right: 10px; padding-top: 10px; margin-bottom: 40px; font-size: 14px; border-radius: 5px;">
              <div class="box box-primary"  style='background-size: 100% 100%; background-color: #215074; '>
                <div style="display: flex; align-items: center; justify-content: center;">
                <!--<div style="padding: 5px;">
                      <img src="./assets/img/ojRRHH.jpg" style="height: 100%; width: 70px;" />
                  </div>&nbsp;-->
                    <div style="text-align: center;">
                <h3 class="text-center" style=" font-size: 26px;display: block; margin-bottom: 0px; margin-top: 0px; 
                color: white;">
                  <b>Convocatorias Externas</b> &nbsp; &nbsp;  
                </h3>
                <h3 class="text-center" style=" font-size: 18px; display: block; margin-bottom: 0px; margin-top: 0px; 
                color: white;">
              <!--  color: #1c222b;">  -->
                <b>Gerencia De Recursos Humanos</b> 
                </h3>
              </div>
              <div>
                <i class="fas fa-user-friends fa-3x" style="color:#FFFFFF;"></i>
              </div>
            </div>
              </div>      
              <div class="row">
                <div class="col-6"></div>
                <div class="col-4"> 
                  <div class="d-md-flex justify-content-md-end" style="margin-left: 85vh;">
                  <button type="button" class="btn btn-outline-primary" (click)="clickAspirante()">Aspirante</button>
                  <button type="button" class="btn btn-outline-primary" (click)="clickCoordinador()">Coordinador</button>
                  <button type="button" class="btn btn-outline-primary" (click)="clickJefeV()">Jefe V</button>
                </div>
                </div>
              </div>
              <div style="height: 600px; width: 100%; padding-left: 50px; padding-right: 50px;">
                <img src="https://th.bing.com/th/id/R.cde0196194ae7c718b85e5e7b7e6d8df?rik=RUXjwjBlSMCXng&riu=http%3a%2f%2fcdn.shopify.com%2fs%2ffiles%2f1%2f1690%2f2655%2farticles%2fbornhotelier-job_search_1024x1024.png%3fv%3d1499313089&ehk=dKP1oQvQbAdKgxoZYzqTFw1CCREu%2b0sld7nkGfQidHw%3d&risl=&pid=ImgRaw&r=0" style="width: 100%; height: 100%; padding-top: 10px; padding-bottom: 10px; text-align: center;" />
              </div>
            </div>      
          </div>
      </span>
    </div>
</div>