<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="material-datatables; mat-elevation-z8 table-responsive"
        style="border: 2px solid #215074; padding-left: 10px; padding-right: 10px; padding-top: 10px; margin-bottom: 40px; font-size: 14px; border-radius: 5px; ">
        <table id="datatables" mat-table matSort
          class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
          <ng-container matColumnDef="NOMBRE">
            <th mat-header-cell *matHeaderCellDef class="encabezado"> NOMBRE </th>
            <!-- <td mat-cell style="text-align: left;" *matCellDef="let element"><span>
                {{element.TITULO}} </span> </td> -->
          </ng-container>

          <ng-container matColumnDef="CONVOCATORIA">
            <th mat-header-cell *matHeaderCellDef class="encabezado"> CONVOCATORIA </th>
            <!-- <td mat-cell style="text-align: justify;" *matCellDef="let element">
              {{element.DATA}} </td> -->
          </ng-container>

          <ng-container matColumnDef="OPCIONES">
            <th mat-header-cell *matHeaderCellDef class="encabezado"> OPCIONES </th>
            <td mat-cell style="text-align: justify;" *matCellDef="let row">
              <a class="btn btn-link btn-warning btn-just-icon"
                matTooltipClass="primary-tooltip" matTooltip="Editar" data-toggle="modal"
                data-target="#dtConvModal"><i class="fa fa-edit"></i></a>
              <!-- <a class="btn btn-link btn-danger btn-just-icon" (click)="borrar(row);"
                matTooltipClass="primary-tooltip" matTooltip="Eliminar Solicitud"><i class="fa fa-trash"></i></a> -->
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['NOMBRE','CONVOCATORIA','OPCIONES']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['NOMBRE','CONVOCATORIA','OPCIONES'];"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
      </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <h3>Jose Lorenzo</h3>
        </div>
        <div class="row">
          <h5>Convocatoria externa no 4</h5>
        </div>
        <div class="row">
          <ul>
            <li><a href="#">Archivo 1</a></li>
            <li><a href="#">Archivo 2</a></li>
            <li><a href="#">Archivo 3</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>