<div class="main-content">
  <div class="container-fluid">
    <!-- <style>

    </style>-->
    <style>
      .encabezado {
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        color: black;
      }
    </style>
    <div class="titulo">
      <h1>
        Convocatoria Externa No. 006-2022/lcdz  - PSICÓLOGA -
      </h1>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-7">

      </div>
      <div class="col-5">
        <label style="font-size: 12pt;"> <strong> VIGENCIA DE LA CONVOCATORIA </strong> Del 24 de julio al 07 de septiembre del 2022</label>
      </div>
    </div>
    <div class="panel-group" id="accordion">
      <div class="card w-100">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title" style="color: rgb(12, 10, 73); padding-left: 10px; padding-right: 10px; padding-top: 15px; " >
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
               <strong>OBJETIVO</strong>  </a>
            </h2>
          </div>
          <div id="collapse1" class="panel-collapse in collapse show" style="padding-left: 15px; padding-right: 10px; " >
            <div class="panel-body"><h3>Brindar a la víctima la orientación y acompañamiento psicológico de calidad y calidez durante las distintas audiencias del proceso penal.</h3></div>
          </div>
        </div>
      </div>
      <div class="card w-100">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title" style="color: rgb(12, 10, 73); padding-left: 10px; padding-right: 10px; padding-top: 15px; " >
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                <strong>EDUCACION</strong></a>
            </h2>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body"> 
              <h3>
                <ul>
                  <li>
                    Licenciatura en Psicología Clínica o Psicología General con orientación clínica.
                  </li>
                  <li>
                    Colegiado Activo. <strong> (Indispensable y comprobable). </strong> 
                  </li>
                </ul>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card w-100">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title" style="color: rgb(12, 10, 73); padding-left: 10px; padding-right: 10px; padding-top: 15px; " >
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                <strong>EXPERIENCIA</strong></a>
            </h2>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              <h3>
                <ul>
                  <li>
                    3 años o más de ejercer la profesión y de experiencia laboral en atención a mujeres víctimas de violencia en cualquiera de sus manifestaciones, de preferencia en el ramo de femicidio. <strong> (Indispensable y comprobable)</strong>.
                  </li>
                </ul>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card w-100">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title" style="color: rgb(12, 10, 73); padding-left: 10px; padding-right: 10px; padding-top: 15px; " >
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                <strong>CONOCIMIENTOS</strong></a>
            </h2>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body"> 
              <h3>
                <ul>
                  <li>
                    Teoría y perspectiva de género <strong> (Indispensable y comprobable). </strong>
                  </li>
                  <li>
                    Técnicas de investigación, resolución de conflictos y atención de personas en crisis <strong> (Indispensable y comprobable). </strong> 
                  </li>
                  <li>
                    Manejo de leyes relacionadas con Derechos Humanos, Tratados Internacionales sobre Equidad de Género, Violencia contra la Mujer.<strong> (Indispensable y comprobable). </strong> 
                  </li>
                  <li>
                    Victimología <strong> (Indispensable y comprobable). </strong> 
                  </li>
                  <li>
                    Dominio de uno de los Idiomas Mayas de la región a la que aplique <strong> (opcional). </strong> 
                  </li>
                  <li>
                    Curso aprobado de Transversalización de género <strong> (opcional). </strong> 
                  </li>
                </ul>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card w-100">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title" style="color: rgb(12, 10, 73); padding-left: 10px; padding-right: 10px; padding-top: 15px; " >
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                <strong>HABILIDADES HUMANAS</strong></a>
            </h2>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body"> 
              <h3>
                <ul>
                  <li>
                    Empatía, discreción, puntualidad, autocontrol, dinamismo, toma de decisiones, compromiso, proactividad, tolerancia a la presión, adecuadas relaciones interpersonales, orientación al servicio a usuarios.
                  </li>
                  <li>
                    Comunicación verbal y escrita. 
                  </li>
                </ul>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card w-100">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title" style="color: rgb(12, 10, 73); padding-left: 10px; padding-right: 10px; padding-top: 15px; " >
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                <strong>HABILIDADES TECNICAS</strong></a>
            </h2>
          </div>
          <div id="collapse6" class="panel-collapse collapse">
            <div class="panel-body">
              <h3>
                <ul>
                  <li>
                    Planificación y análisis  <strong> (Indispensable)</strong>.
                  </li>
                  <li>
                    Mecanografía  <strong> (Indispensable)</strong>.
                  </li>
                  <li>
                    Manejo de equipo de oficina y de equipo de cómputo en ambiente Windows y Office <strong> (Indispensable)</strong>.
                  </li>
                  <li>
                    Trabajo en equipo multidisciplinario.
                  </li>
                </ul>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card w-100">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title" style="color: rgb(12, 10, 73); padding-left: 10px; padding-right: 10px; padding-top: 15px; " >
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                <strong>OTROS</strong></a>
            </h2>
          </div>
          <div id="collapse7" class="panel-collapse collapse">
            <div class="panel-body"> 
              <h3>
                <ul>
                  <li>
                    Adecuada presentación.
                  </li>
                  <li>
                    Disponibilidad de horario
                  </li>
                </ul>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="card w-100">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title" style="color: rgb(12, 10, 73); padding-left: 10px; padding-right: 10px; padding-top: 15px; " >
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                <strong>DOCUMENTACIÓN REQUERIDA</strong></a>
            </h2>
          </div>
          <div id="collapse8" class="panel-collapse collapse">
            <div class="panel-body"> 
              <h3>
                <ul>
                  <li>
                    Certificación del Registro Nacional de Agresores Sexuales (RENAS) del Ministerio Público, vigente.
                  </li>
                  <li>
                    Impresión del portal de Guatecompras, para establecer si es o no proveedor del Estado, el cual puede ser generado desde el siguiente link:https://www.guatecompras.gt/proveedores/busquedaProvee.aspx
                  </li>
                  <li>
                    Carta de solicitud dirigida a la Magistrada Presidente del Organismo Judicial y de la Corte Suprema de Justicia (Dra. Silvia Patricia Valdés Quezada, indicando la plaza a la que desea aplicar y número de la presente Convocatoria Externa. (IMPORTANTE: Presentar, por aparte fotocopia de este documento para el sello de la recepción del expediente, en caso sea citado).
                  </li>
                </ul>
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
       <div class="col-9">

       </div>  
       <div class="col-3">
        <button mat-raised-button class="btn btn-secondary"
                                style="font-size: 12px;">
                                <i class="fa fa-location-arrow"></i>
                                &nbsp;&nbsp; Aplicar
                              </button>
       </div>
      </div>
    </div>
  </div>
</div>