.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.form-group{
    margin-bottom: 0px !important;
}
.card-body{
    padding: 0.2rem !important;
}
.card-header{
    display: flex;
    justify-content: left;
    vertical-align: middle;
    align-items: center;
    flex-direction: row;
}
.card-header h5{
    margin-left: 10px !important;
}
h5{
    margin-bottom: 0px !important;
}
.spinner-border{
    width: 1rem !important;
    height: 1rem !important;
}
.cargando.show{
    display: none !important;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }